<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main_main_main.css">
    <title>Learning JoJo's openings and characters</title>
</head>
<body onclick="unmute()">
    <div id="character">
        <h2>Jotaro Kujo</h2>
    </div>
    <script src="/js/main_main.js"></script>
    <span id="click">Click!</span>
</body>
</html>

