<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>PlaceToSpeak</title>
</head>
<body>
    <nav class="navbar fixed-bottom navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" title="Copyright © 2019 Danila Alyukov <im@alyukovnet.ru>">PlaceToSpeak <span class="badge badge-secondary">Feed</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarText">
            {% if not user.is_anonymous %}
                <form class="form-inline" method="get" action="/logout">
                    {% csrf_token %}
                    <div class="form-group m-1">
                        <span>Hello, <strong>{{ user }}</strong></span>
                    </div>
                    <button type="submit" class="btn btn-danger btn-sm m-1" id="login">Log out</button>
                </form>
            {% else %}
                <form class="form-inline" id="login-form">
                    {% csrf_token %}
                    <div class="form-group m-1">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" class="form-control form-control-sm" id="username" name="username" required placeholder="Username">
                    </div>
                    <div class="form-group m-1">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password" required placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm m-1">Log in</button>
                </form>
            {% endif %}
        </div>
    </nav>
    <div class="container my-3" style="padding-bottom: 100px">
        {% if not user.is_anonymous %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Successful authorization!</strong> Now you can read posts from users in your friend list.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>You are not authorized!</strong> Only public content is available to you.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="errors"></div>
        {% endif %}
        {% for post in posts %}
        <div class="card my-3">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ post.text }}</p>
              <footer class="blockquote-footer">
                  {{ post.author }}
                  {% if user == post.author %}
                      <span class="badge badge-secondary">you</span>
                  {% elif post.author.username == 'alyukovnet' %}
                      <span class="badge badge-secondary">admin</span>
                  {% endif %}
              </footer>
            </blockquote>
          </div>
        </div>
        {% endfor %}
        <p>That's all!</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $('#login-form').submit(function (e) {
            e.preventDefault();
            let button = $('#login-form').children('button');
            button.prop('disabled', true);
            setTimeout(function () {
                button.prop('disabled', false);
            }, 1000);
            $.ajax({
                type: 'POST',
                url: '/login',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.result === 'ok') {
                        window.location.reload();
                    } else if (response.result === 'wrong') {
                        show_error()
                    }
                }
            });
        });
        function show_error() {
            let body = '<div class="alert alert-danger wrong-pass" style="display: none" role="alert"><strong>Wrong password!</strong> Try again</div>';
            $('#errors').append(body);
            $('.wrong-pass:last').fadeIn(400, function () {
                let elem = this;
                setTimeout(function () {
                    $(elem).fadeOut(400, function () {
                        $(elem).remove()
                    });
                }, 3000)
            });
        }
    </script>
</body>
</html>