<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ code }} {{ text }}</title>
</head>
<body>
    <nav class="navbar fixed-bottom navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" title="Copyright © 2019 Danila Alyukov <im@alyukovnet.ru>">PlaceToSpeak <span class="badge badge-secondary">Feed</span></a>
    </nav>
    <div class="container my-3" style="padding-bottom: 100px">

        <div class="alert alert-danger" role="alert">
            <strong>Error {{ code }}!</strong> {{ text }}.
        </div>

        <div class="card my-3">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Let's flex on start page</p>
                    <a href="/" class="btn btn-primary float-right">Go to start</a>
                    <footer class="blockquote-footer">
                        alyukovnet <span class="badge badge-secondary">admin</span>
                    </footer>
                </blockquote>
            </div>
        </div>

        <p>That's all!</p>

    </div>
</body>
</html>